{% extends 'base.html' %}

{% block content %}
    <body>
        <div class="home_wrap">
            <div class= "main_warp">
                <div class="main_cont">
                    <h1 class= "main_title">시 쓰기의 첫 걸음,</h1>
                    <h1 class= "main_title">오늘의 한 문장부터</h1>
                </div>
            </div>

            <div class="home_ex_wrap">
                <div class="home_ex">
                    <p>모든 시는 한 문장에서 시작해요</p>
                    <p>문장을 창작하고, 문장을 교환하며</p>
                    <p>&lt;오늘:의 문장&gt;에서 시를 시작해보세요</p>
                </div>
            </div>

            <div class="home_guide_wrap">
                <div class= "home_guide" style="text-align: left; padding: 150px 0 0 60px;">
                    <p class="guide_title">문장 쓰기 가이드</p>
                    <p class="guide_sub">평범한 문장을 </br>시적으로 바꿔보세요</p>
                    <p class= "guide_cont">문장 작성 가이드를 참고하여</br>처음 썼던 문장을</br>여러 개의 다른 문장들로</br>바꿔쓸 수 있어요</p>
                </div>
                <div class= "home_guide" style="text-align: right; padding: 150px 60px 0 0;">
                    <p class="guide_title">문장 공유</p>
                    <p class="guide_sub">쓰지 않는 문장을 </br>다른 사람들과 공유해보세요</p>
                    <p class="guide_cont">시에 쓰이지 않은 문장들은</br>문장 공유 게시판에 올라가</br>다른 사람들에게 영감을</br>줄 수 있어요</p>
                </div>
            </div>
        </div>



    </body>
{% endblock %}