{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/community.css' %}">

<div class= "list-wrapper">
    <div class="list-title">
        <h1><오늘:의 문장> 작품 게시판</h1>
        <div class="list-line">
            <hr>
        </div>
    </div>
    <div class="content-area">
        <div class="new-content">
            <h5> 최신 게시물</h5>
            <hr>
            <p>서시</p>
            <p>작성자 : 윤동주(starlight)</p>
        </div>
        <div class="trend-content">
            <h5>인기 게시물</h5>
            <hr>
            <p>나는 오늘 회사를 그만두었다</p>
            <p>작성자 : 몇 번이라도(anytime)</p>
        </div>
    </div>
        <div class= "list-area">
            <div class="list-box">
                <h4 class="list-subtitle">전체 게시판</h4><hr>
                <div class="list-content">
                    <p class="content">서시</p>
                    <hr>
                    <p class="content">바람의 노래를 들어라</p>
                    <hr>
                    <p class="content">이세계로 소환됐어도 개발자는 필요해!</p>
                    <hr>
                    <p class="content">스무 살에 하고 싶었던 것</p>
                    <hr>
                    <p class="content">나는 오늘 회사를 그만두었다</p>
                    <hr>
                    <p class="content">별 헤는 밤</p>
                    <br>
                </div>
                <div class="list-page">
                    <span class="list-number">1</span> 2 3 4 5
                </div>
            </div>
        </div>

        <style>

            .new-content{
                background-image: url(https://images.unsplash.com/photo-1596868801151-5d26796963b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
                color: white;

            }

            .trend-content{
                background-image: url(https://images.unsplash.com/photo-1639690222445-595b0794bbd4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
            }
        </style>
</div>

{% endblock %}