'{% extends 'base.html' %}

{% block content %}

    <div class= "list-wrapper">
        <div class="list-title">
            <h1><오늘:의 문장> 작품 게시판</h1>
            <div class="list-line">
                <hr>
            </div>
        </div>
        <div class="content-area">
            <div class="new-content"> 최신 게시물</div>
            <div class="trend-content">인기 게시물</div> 
        </div>
            <div class= "list-area">
                <div class="list-box">
                    <div class="list-subtitle">전체 게시판<hr></div>
                    <div class="list-content">
                        <p class="content">서시</p>
                        <hr>
                        <p class="content">바람의 노래를 들어라</p>
                        <hr>
                        <p class="content">이세계로 소환됐어도 개발자는 필요해!</p>
                        <hr>
                        <p class="content">스무 살에 하고 싶었던 것</p>
                        <hr>
                        <p class="content">나는 오늘 회사를 그만두었다</p>
                        <hr>
                        <p class="content">별 헤는 밤</p>
                        <hr>
                    </div>
                    <div class="list-page">
                        <span class="list-number">1</span> 2 3 4 5
                    </div>
                </div>
            </div>
    </div>

    <style>
    
        body{
            background-image: url("https://images.unsplash.com/photo-1586075010923-2dd4570fb338?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
            justify-content: center;
            display:flex;
        }

        .list-line{
            width: 100%;
            margin: 0 auto;
        }

        .list-title{
            text-align: center;
        }

        /* 최신 게시물, 인기 게시물 */
        .content-area{
            display: flex;
            justify-content: center;
        }

        .new-content, .trend-content{
            width: 20rem;
            height: 20rem;
            background-color: #F6F3F3;
            margin: 1rem;
        }

        .list-area{
            display:flex;
        }

        .list-box{
            width: 42rem;
            height: 25rem;
            background-color: #EAEAEA;
            margin: auto;
        }

        .content:hover{
            color:#DE8A8A;
        }

        .list-page{
            text-align: center;
        }

        .list-number{
            color: #DE8A8A;
        }

        
    </style>

{% endblock %}