{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/write_sentence.css' %}">


<div id="sentence_root" class="sentence-write-container">
    <div class="fade-down" data-aos="fade-down" >
        <div class="sentence-title-div">
            <h1 class="sentence-title"> <오늘:의 문장> </h1>
        </div>

        <div class="sentence-guide-container">
            <div class="sentence-guide-content">  
                <div id="container">
                    <button type="button" class="slide_btn_prev"><i class="fa-solid fa-circle-left icon"></i></button>
                    <div class="slide_wrap">
                        <div class="slide_box">
                            <div class="slide_list clearfix">
                                <div class="slide_content slide01">
                                    <p>
                                        모든 글은 첫 문장에서부터 시작돼요.
                                        어떤 글을 쓰고 싶은지 먼저 결정해봅시다. 
                                        논리적인 글? 에세이? 시와 소설? 
                                    </p>
                                </div>
                                <div class="slide_content slide02">
                                    <p>[주장글(칼럼)]

                                        인상적인 첫문장을 위해 질문을 던져볼까요?
                                        질문을 통해 독자들의 집중을 유도하고, 글의 의도를 직, 간접적으로 밝힐 수 있어요.

                                        ex) ‘밥을 먹다가 주변 사람을 긴장시키고 싶은가.’---&lt"추석이란 무엇인가” 되물어라>, 경향신문 오피니언, 김영민 
                                    </p>
                                </div>
                                <div class="slide_content slide03">
                                    <p>
                                        [주장글(칼럼)]

                                        첫문장에 핵심과 결론을 제시하는 것도 좋은 방법이에요.
            
                                        ex) 글을 쓰기 위해서는 두 가지를 명심하면 된다. 
                                        첫 번째, 첫 문장을 ‘일단’ ‘그냥’ 써라. 두 번째, 문장을 고쳐라.
                                    </p>
                                </div>
                                <div class="slide_content slide04">
                                    <p>
                                        [에세이]

                                        감성적인 글을 위해 지금 자신의 감정이나 상태를 솔직하게 적어볼까요?
                                        솔직한 문장 뒤에, 이유를 붙여나가다 보면 금방 쓸 것들이 생길 거예요.
            
                                        ex) 지금 글을 써야하는데, 글을 쓰기가 어렵다. ...
                                    </p>
                                </div>
                                <div class="slide_content slide05">
                                    <p >
                                        [문학-시]

                                        신선한 문장 표현을 위해 단어와 단어의 의미가 먼 것들을 붙여볼까요?
                                        추천단어를 무작정 한 문장으로 연결해봐도 좋아요. 
                                        당장에 말이 되지 않아도 좋아요!
                                    </p>
                                </div>
                                <div class = "slide_content slide06">
                                    <p>
                                        [문학-소설]

                                        소설의 첫 문장은 궁금증을 유발해야해요.
                                        충격적인 사건이나 대사, 독백 등을 간결한 문장으로 써보아요

                                        ex) ‘오늘 엄마가 죽었다. 아니, 어쩌면 어제.’  -알베르 까뮈, &lt이방인&gt   
                                    </p>
                                </div>
                            </div>

                            <!-- // .slide_list -->
                        </div>
                        <ul class="slide_pagination"></ul>

                        <!-- // .slide_box -->
                    </div>
                    <button type="button" class="slide_btn_next"><i class="fa-solid fa-circle-right icon"></i></button>
                </div>
                <!-- // .container -->
            </div>
        </div>
        <!--WORDS RECOMMEND-->
        <div>
                <h2 class="sentence-title word-recommendation-title">단어 추천</h2>
                <div class="word-recommendation-container">
                    <button class="word-recommendation-content" data-toggle="tooltip" title="단어 정의">단어 1</button>
                    <button class="word-recommendation-content" data-toggle="tooltip" title="단어 정의">단어 1</button>
                    <button class="word-recommendation-content" data-toggle="tooltip" title="단어 정의">단어 1</button>
                    <button class="word-recommendation-content" data-toggle="tooltip" title="단어 정의">단어 1</button>
                    <button class="word-recommendation-content" data-toggle="tooltip" title="단어 정의">단어 1</button>
                </div>
        </div>
    
        <div class="next-guide">
                <span>아래로 스크롤해서 다음 단계로 넘어가봐요.</span>
                <button class="down-button">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
        </div>
    </div> 
    <!-- fade down part -->

    <div class="fade-up" data-aos="fade-up"> 
        <form>
            <div class="sentence-input-container">
                <a class="fa-solid fa-circle-question square-btn"></a>
                <input type="text" class="sentence-input" placeholder="당신의 문장을 적어주세요."/> 
                <button type="submit" class="fa-solid fa-pen-nib square-btn"></button>
            </div>
        </form>

        <div class="sentence-list-container">
            <div class="select-menu-btn-container">
                <button class="select-menu-btn">전체 선택</button>
                <button class="select-menu-btn">선택 삭제</button>
            </div>
            <div class="sentence-box">
                <p>
                    <input type="checkbox" class="sentence-select"/>
                    <span class="sentence-content">테스트용 문장</span>
                </p>
                <button class="sentence-eraser"><i class="fa-solid fa-eraser"></i></button>
            </div>
            <div class="sentence-box">
                <p>
                    <input type="checkbox" class="sentence-select"/>
                    <span class="sentence-content">테스트용 문장</span>
                </p>
                <button class="sentence-eraser"><i class="fa-solid fa-eraser"></i></button>
            </div>
            <div class="sentence-box">
                <p>
                    <input type="checkbox" class="sentence-select"/>
                    <span class="sentence-content">테스트용 문장</span>
                </p>
                <button class="sentence-eraser"><i class="fa-solid fa-eraser"></i></button>
            </div>
            <div class="sentence-box">
                <p>
                    <input type="checkbox" class="sentence-select"/>
                    <span class="sentence-content">테스트용 문장</span>
                </p>
                <button class="sentence-eraser"><i class="fa-solid fa-eraser"></i></button>
            </div>
            <div class="sentence-box">
                <p>
                    <input type="checkbox" class="sentence-select"/>
                    <span class="sentence-content">테스트용 문장</span>
                </p>
                <button class="sentence-eraser"><i class="fa-solid fa-eraser"></i></button>
            </div>
        </div>

        <button onclick="onClickSubmit();" class="submit_btn" id="#submit_btn">선택한 문장으로 글쓰기</button>
    </div>

    
    <!--MODAL-->
    <div id="no-sentence-modal" class="modal-overlay">
        <div class="modal-content">
            <div class="modal-body">
                <pre>
                    문장을 공유하지 않으면, 다른 사람이 공유한 문장을 추천 받을 수 없습니다.
                    그래도 진행하시겠습니까?
                </pre>
            </div>
            <div class="modal-btns">
                <button type="button" class="btn" data-dismiss="modal">아니오</button>
                <button type="button" class="btn">예</button>
            </div>
        </div>
    </div>
   
</div>

<!-- 
<script>
    function onClickSubmit() {
        state = true; // 선택된 문장이 없을 경우 ??? 나 이거 이해가 잘 안 돼네 반대 아닌가 
        if ( state ) {
            document.querySelector(".modal-overlay").setAttribute('style', `top: ${window.pageYOffset}`)
            document.querySelector("#no-sentence-modal").setAttribute('style', 'display: flex');
            document.body.classList.add("stop-scroll");
        }
    }

    // 툴팁 정의
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    }); 
</script> -->


<!--GUIDE JS-->
<script type="text/javascript" src="../../../static/js/sentence_guide.js">
    </script>

<!--AOS-->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>

{% endblock %}