@font-face {
  font-family: 'Hahmlet-ExtraLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
  padding: 150px;
}


.form-wrapper{
  width: 80%;
  margin: 0 auto;
}

.title-input {
  width: 96.5%;
  height: 40px;
  margin: 10px;
  font-size:15px;
  font-family: 'Hahmlet-ExtraLight';
}

.text-area {
  width: 70%;
  min-height: 500px;
  font-family: 'Hahmlet-ExtraLight';
}

.submit-button{
  width: 200px;
  height: 50px;
  margin: 15px;
  font-size: 17px;
  font-family: 'Hahmlet-ExtraLight';
  background-color: rgb(108, 108, 108);
  color: white;
  transition: background-color .5s;
  border: none;
  border-radius: 10px;
  
}

.submit-button:hover{
  background-color:  #D5C4C4; 
}


.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
  font-family: 'Hahmlet-ExtraLight';
}


