*{
  margin: 60px;
}

.objects{
    text-align: right;
}

#object{
    font-size: 20px;
    transition: background-color .5s;
    
  }
  
#object:hover{
    color:  white;
    text-decoration: underline;
  }

#object1{
    font-size: 20px;
    transition: background-color .5s;
    
  }
  
#object1:hover{
    color:  white;
    text-decoration: underline;
  }

#object2{
    font-size: 20px;
    transition: background-color .5s;
    
  }
  
#object2:hover{
    color:  white;
    text-decoration: underline;
  }

#object3{
    font-size: 20px;
    transition: background-color .5s;
    
  }
  
#object3:hover{
    color:  white;
    text-decoration: underline;
  }

#object4{
    font-size: 20px;
    transition: background-color .5s;
    
  }
  
#object4:hover{
    color:  white;
    text-decoration: underline;
  }