<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
    <div class="today_header">
        <div class="nav_wrap">
            <div class="nav">
                <a href=" {% url "buildapp:home" %}" class="today_logo">&lt;&gt;오늘:의 문장</a>
                <a href="" class="nav_btn nav_emp">글쓰기</a>
                <a href="" class="nav_btn" style="padding-left: 3rem">문장쓰기</a>
                <a href="" class="nav_btn">커뮤니티</a>
                <div class="nav_wrap">
                    {% if user.is_authenticated %}
                        <a class="nav_btn" href="{% url 'accountapp:logout' %}" >{{ user.username }}</a>
                        <a href="{% url 'profileapp:detail' %}" class="nav_btn" style="padding-right: 1rem">마이페이지</a>
                    {% else %}
                        <a href="{% url "accountapp:login" %}" class="nav_btn">로그인</a>
                        <a href="{% url "accountapp:create" %}" class="nav_btn" style="padding-right: 1rem">회원가입</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    <div class="cont_wrap">
        <div class="title_wrap">
            <p class="cont_logo" style="text-align: left">&lt;오늘:의 문장&gt;</p>
        </div>
        <div>
            <p class="mypage_title">
                반갑습니다. {{ user.username }}님!
            </p>
        </div>
        <hr>
        <div>
            <a href="">작성한 문장</a>
            <a href="">이메일 변경</a>
            <a href="">비밀번호 변경</a>
            <a href="">회원 탈퇴</a>
            <a href="">로그아웃</a>
        </div>

    </div>
</body>
</html>


