{% extends 'base.html' %}
ㅈ
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">


    <div class="cont_wrap" style="border-top:solid 0.2rem #000;">

        <div class="title_wrap">
            <h2>회원가입</h2>
        </div>

        <form action="{% url 'accountapp:create' %}" method="post" class="signup-wrap">
            {% csrf_token %}

            {% include "accountapp/forms_errors.html" %}

            <div>
                <label for="username" class="create-account">
                    아이디
                </label>
                <input type="text" class="account-box" name="username" id="username" placeholder="아이디" value="{{ form.username.value|default_if_none:'' }}">
         닉네임 소개글 등록 사이트 구현   </div>
            <div>
                <label for="password1" class="create-account">
                    비밀번호
                </label>
                <input type="password" class="account-box" name="password1" id="password1" placeholder="8자리 이상의 비밀번호로 생성해주세요." value="{{ form.password1.value|default_if_none:'' }}">
            </div>
            <div>
                <label for="password2" class="create-account">
                    비밀번호 재입력
                </label>
                <input type="password" class="account-box" name="password2" id="password2" placeholder="비밀번호 재입력" value="{{ form.password2.value|default_if_none:'' }}">
            </div>
            <div>
                <label for="email" class="create-account">
                    이메일 주소
                </label>
                <input type="text" class="account-box" name="email" id="email" placeholder="이메일 주소" value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="submit-btn">생성하기</button>
        </form>
    </div>

    <script>
        element = document.querySelector("#"+label);
        element.focus();
        element.setAttribute('style', 'border: 3px solid #CC3F3B;');
        const error = message ? message : "올바른 값을 입력해주세요.";
        element.setAttribute('placeholder', error);
    </script>

{% endblock %}