{% extends 'base.html' %}

{% block content %}

    <div class="cont_wrap">
        <div class="title_wrap">
            <p class="cont_logo">&lt;오늘:의 문장&gt;</p>
        </div>
        <form action="{% url 'accountapp:create' %}" method="post">
            {% csrf_token %}
            <div>
                <p class="create_account">
                    아이디
                </p>
                <input type="text" class="account_box">
            </div>
            <div>
                <p class="create_account">
                    비밀번호
                </p>
                <input type="text" class="account_box">
            </div>
            <div>
                <p class="create_account">
                    비밀번호 재입력
                </p>
                <input type="text" class="account_box">
            </div>
            <div>
                <p class="create_account">
                    이메일 주소
                </p>
                <input type="text" class="account_box">
            </div>


            <input type="submit" class="submit_btn">
        </form>
    </div>

{% endblock %}