<!-- 필드 오류와 넌필드 오류를 출력한다. -->
{% if form.errors %}

<div class="">
    {% for field in form %}

    <!-- 필드 오류 -->
    {% if field.errors %}
    <script>
        var tmp = "";
        if ( "{{ field.label }}" == 'Username'){
            tmp = 'username';
        } else if ( "{{ field.label }}" == 'Password' ) {
            tmp = 'password1';
        } else if ( "{{ field.label }}" == 'Password confirmation' ) {
            tmp = 'password2';
        } else {
            tmp = 'email';
        }

        var label =  tmp;
    </script>
    {% endif %}
    {% endfor %}

    <!-- 넌필드 오류 -->
    {% for error in form.non_field_errors %}
    <script>
        var message = "{{ error }}";
    </script>
    {% endfor %}
</div>
{% endif %}