{% extends 'base.html' %}

{% block content %}


    <div class="login_wrap">
        <div>
            <div class="title_wrap">
                <p class="cont_logo">&lt;오늘:의 문장&gt;</p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <label for="id" class="create_account">
                        아이디
                    </label>
                    <input type="text" class="account_box" name="id" id="id">
                </div>
                <div>
                    <label for="password" class="create_account">
                        비밀번호
                    </label>
                    <input type="text" class="account_box" name="password" id="password">
                </div>
                <div>
                    <input type="submit" value="로그인" class="submit_btn">
                </div>
            </form>
        </div>
    </div>

{% endblock %}