{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
<style>
    :root {
    --red: #CC3F3B;
    --black: #121212;
    --bg: #D9D9D9;
    --btn-light: #D5C4C4;
    --btn-light-hover: #B5A4A4;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Gowun Batang", sans-serif;
}
a {
    text-decoration: none;
    color: var(--black);
}

a:visited {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--red);
}


button {
    border: 0;
    outline: 0;
    background-color: rgba( 255, 255, 255, 0 );
}

.mypage-title {
    margin: 1rem;
    font-size: large;
}

.profile-wrap {
    display: flex;
    margin: 3rem 0;
    padding:1rem;
    justify-content: space-between;

}

.profile {
    background-color: grey;
    width: 20em;
    height: 20rem;
    border-radius: 0.5rem;
    margin: 3rem;
}

.profile-text {
    bottom : 0px;
    text-align:center;
}


.mypage-menu {
    list-style: none;
    margin: 3rem;
}

.mypage-item {
    text-align: right;
    height: 80px;
    line-height: 80px;
}

</style>

<div class="mypage-title">
    <h1>반갑습니다, {id.name}님!</h1>
</div>
<hr />
<div class = "profile-wrap" > 
    <div class = "profile">
        <img src=""  alt="profile_img"/>
        <div class="profile-text">
            <div>ID:{id}</div>
            <div>e-mail:{email}</div>
        </div>
    </div>
    <div >
        <ul class="mypage-menu">
            <li class="mypage-item">
                <a href="" >문장 쓰기</a>
            </li>
            <li class="mypage-item">
                <a href="">작성한 문장</a>
            </li>
            <li class="mypage-item">
                <a href="">개인 정보 관리</a>
            </li>
            <li class="mypage-item">
                <a href="" >로그아웃</a>
            </li>
        </ul>


    </div>

</div>

{% endblock %}