{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">


<h1>반갑습니다, {id.name}님!</h1>
<hr />
<div class = "mypage-main"style="display:flex;" > 
    <div class = "mysentence-list"; style="flex:1 ;">
        <h1 >
            내가 쓴 글
        </h1>
    </div>
    <div class = "objects" style="text-align: right ; flex:1;">
        <h3 id = "object1">
            <button>
                문장 쓰기
            </button>
        </h3>
        <h3 id = "object2">
            <button>
                내가 작성한 문장
            </button>
        </h3>
        <h3 id = "object3">
            <button>
                개인 정보 관리
            </button>
        </h3>
        <h3 id = "object4">
            <button>
                로그아웃
            </button>
        </h3>

    </div>

</div>

{% endblock %}