
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.today_logo {
    font-family: 'Song Myung', serif;
    padding-left: 1rem;
    margin-bottom: 1.2rem;
    float: left;
    font-size: 3rem;
}

.nav {
    display: block;
    position: relative;
    padding: 3rem 0 3rem;
    margin: 0;
    background-color: white;
}

.nav_wrap {
    font-family: "Noto Serif KR", sans-serif;
    width:100%;
}

.nav_btn_wrap {
    display: inline-block;
    float: right;
}

.nav_btn {
    margin: auto;
    display: inline-block;
    font-family: "hahmlet", sans-serif;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.today_logo {
    font-family: 'Song Myung', serif;
    /*padding-left: 1rem;*/
    /*margin: 0rem 0 1rem;*/
    float: left;
    font-size: 3rem;
    position: relative;
    top: -12px;
    left: 5px;
}


a:visited {
    text-decoration: none;
    color: black;
}


.login {
    padding-right: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../image/login.png") no-repeat center;
    background-size: cover;
}

.footer_wrap {
    color: #000;
    background-color: #D9D9D9;
    padding: 20px 0 20px;
}

.footer {
    margin: 16px;
    text-align: center;
}

.footer_cont {
    font-size: 16px;
    margin-bottom: 6px;
}

.cont_logo {
    font-family: "Song Myung", serif;
    font-size: 4rem;
    margin-top: 30px;
    margin-bottom: 0;
}

.cont_sub {
    font-family: "Song Myung", serif;
    font-size: 1.2rem;
}

.title_wrap {
    display: block;
    margin: auto;
    text-align: center;
}

.cont_wrap {
    text-align: center;
    width: 500px;
    height: 800px;
    margin: auto;
    padding-top: 3rem;
}

.create_account {
    text-align: left;
    font-family: "hahmlet", sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0 4px 2.5rem;
    display: block;
}

.account_box {
    width: 450px;
    height: 50px;
    border: 0;
    background-color: #f5f6f7;
    border-radius: 25px;
    padding-left: 10px;
}

.submit_btn {
    font-size: 1.5rem;
    width: 200px;
    height: 60px;
    border: 0;
    background-color: #D5C4C4;
    border-radius: 40px;
    color: #FFF;
    margin-top: 4rem;
}

.submit_btn:hover {
    background-color: #B5A4A4;
}

.login_wrap {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
    padding-top: 3rem;
}

 .main_cont {
     position: relative;
     padding-top: 25rem;
     height: 80rem;
     padding-bottom: 25rem;
}

.main_cont:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../image/testimg.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity : 0.6;
    z-index: -1;
}


.main_title {
    font-weight: 200;
    font-size: 44px;
    font-family: 'Song Myung', sans-serif;
    color: black;
    text-align: center;
}

.home_ex_wrap {
    width: 100%;
    height: 35rem;
    max-width: 100%;
    background: #FFFFFF;
}

.home_ex{
    text-align: center;
    font-family: 'Song Myung', sans-serif;
    font-size: 4rem;
    padding-top: 12rem;
    color: #4A4A4A;
}

.home_ex p {
    font-size: 2.5rem;
}


.home_guide_wrap {
    background-color: #D9D9D9;
    height: 100rem;
}

.home_guide {
    font-family: 'Song Myung', sans-serif;
    position: relative;
}

.guide_title{
    color: #903C3C;
    font-size: 2.5rem;
}

.guide_sub {
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.guide_cont {
    font-size: 2.5rem;
}

.home_btn {
    font-family: "hahmlet", sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 20px 17px;
    font-size: 1.6rem
}

.home_btn:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
}