.footer_wrap {
    color: var(--black);
    background-color: var(--bg);
    padding: 20px 0 20px;
}

.footer {
    margin: 16px;
    text-align: center;
}

.footer_cont {
    font-size: 16px;
    margin-bottom: 6px;
}