.footer_wrap {
    color: var(--black);
    margin: 20px 0px;
}

.footer {
    margin: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.footer_cont {
    font-size: 0.8rem;
    margin-bottom: 6px;
}