.mypage-title {
    margin-top: .5rem;
}

.profile_wrap {
    text-align: right;
}

.profile_item {
    font-family: "Gowun Batang", sans-serif;
    display: block;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.object1 {
    display: flex;
    justify-content: space-around;
    background-color:  var(--trans-white);
    padding: 2rem;
    margin: 0 auto;
}

.word-recommendation-content {
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    background-color: transparent;
}