
.mypage_wrap {
    width: 600px;
    height: 700px;
    text-align: center;
    margin: auto;
    padding-top: 80px;
}

.mypage-title {
    margin-top: .5rem;
    font-size: 2rem;
}

.profile_wrap {
    text-align: right;
}

.profile_item_wrap {
    margin: .7rem 0;
}

.profile_item {
    font-family: "Gowun Batang", sans-serif;
    display: inline;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.object1 {
    display: flex;
    justify-content: space-around;
    background-color:  var(--trans-white);
    padding: 2rem;
    margin: 0 auto;
}

.word-recommendation-content {
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    background-color: transparent;
}