{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

<div class="footer_wrap">
    <footer class="footer">
        <div class="footer_cont">
            <span>copyright © 2022 &lt;오늘:의 문장&gt; All Rights Reserved.</span>
        </div>
        <div class="footer_cont">
            likelion 정다윤 목우빈 박성우 박은솔 이지원<br>
        </div>
        <div class="footer_cont">
            <span>본 사이트의 모든 콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span>
        </div>
        <div class="footer_cont">
            <span>FAQ</span>
            <span>개인정보처리방침</span>
        </div>
    </footer>
</div>