<div class="today_header">
    <div class="nav_wrap" >
        <div class="nav" >
            <a href="{% url 'buildapp:home' %}" class="header_today_logo">&lt;&gt;오늘:의 문장</a>
            <ul class="nav_menu">
                <li class="nav_item"><a href="{% url 'buildapp:write_poet' %}" class="nav_btn">글쓰기</a></li>
                <li class="nav_item"><a href="{% url 'buildapp:write_sentence' %}" class="nav_btn">문장쓰기</a></li>
                <li class="nav_item"><a href="" class="nav_btn">커뮤니티</a></li>

                {% if user.is_authenticated %}
                    <li class="nav_item" style="float: right"><a href="{% url 'profileapp:detail' %}" class="nav_btn">마이페이지</a></li>
                    <li class="nav_item" style="float: right"><a class="nav_btn" href="{% url 'accountapp:logout' %}">{{ user.username }}</a></li>
                {% else %}
                    <li class="nav_item" style="float: right"><a href="{% url 'accountapp:create' %}" class="nav_btn">회원가입</a></li>
                    <li class="nav_item" style="float: right"><a href="{% url 'accountapp:login' %}" class="nav_btn">로그인</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>