<div class="today_header">
    <div class="nav_wrap">
        <div class="nav">
            <a href=" {% url "buildapp:home" %}" class="today_logo">&lt;&gt;오늘:의 문장</a>
            <a href="" class="nav_btn">문장쓰기</a>
            <a href="" class="nav_btn">시쓰기</a>
            <a href="" class="nav_btn">커뮤니티</a>
            <div class="nav_btn_wrap">
                {% if user.is_authenticated %}
                    <a class="nav_btn" href="{% url 'accountapp:logout' %}" >{{ user.username }}</a>
                    <a href="" class="nav_btn" style="padding-right: 1rem">마이페이지</a>
                {% else %}
                    <a href="{% url "accountapp:login" %}" class="nav_btn">로그인</a>
                    <a href="{% url "accountapp:create" %}" class="nav_btn" style="padding-right: 1rem">회원가입</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>