{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">

<style>
    .profile-detail-wrap {
        background-color: #d9d9d9;
        width: 15rem;
        height: 20rem;
        margin: 2rem;
    }
    


</style>


<body>
    <div class="mypage_wrap">
        <div class="title_wrap">
            <p class="cont_logo" style="text-align: left; font-family: 'Song Myung', serif;">&lt;오늘:의 문장&gt;</p>
        </div>
        <div>
            <p class="mypage_title">
                반갑습니다. {{ user.username }}님!
            </p>
        </div>
        <hr>
        <div class="profile-wrap" style="display:flex ;">
            <div class="profile-detail-wrap" style="flex:1 ;">
                dfwsw
                
            </div>
            <div class="profie-nav" style="flex:1 ;">
                <div class="profile_item_wrap">
                    <a href="{% url 'buildapp:write_sentence' %}" class="profile_item">문장쓰기</a>
                </div>
                <div class="profile_item_wrap">
                    <a href="" class="profile_item">작성한 문장</a>
                </div>
                <div class="profile_item_wrap">
                    <a href="" class="profile_item">작성한 게시글</a>
                </div>
                <div class="profile_item_wrap">
                    <a href="{% url 'accountapp:detail' pk=user.pk %}" class="profile_item">개인정보관리</a>
                </div>
                <div class="profile_item_wrap">
                    <a href="{% url 'accountapp:logout' %}" class="profile_item">로그아웃</a>
                </div>    
            </div>
            
        </div>
    </div>
</body>

{% endblock %}


